{{#if isEditing}}
<div class="pad clearfix">

  <div class="link--controls">
    <button {{action 'toggleDeleted'}} class="btn xs negative r sp">Delete</button>
  </div>


  <form novalidate>
    <div class="sp">
      {{input type='text' value=model.name placeholder='Name'}}
    </div>
    <div>
      {{input type='text' value=model.url placeholder='URL'}}
    </div>
  </form>
</div>
{{else}}
  <a {{bind-attr href=model.absoluteUrl}} class='link--root'>
    <div class="link--main sp_sm tx-trim">{{ model.name }}</div>
    <div class="link--sub tx-trim">{{ model.url }}</div>
  </a>
{{/if}}
