{{#if isEditing}}
  <div class="sp r">
    <button {{action 'cancelEdits'}} class="btn alt sm inline l">Cancel</button>
    <button {{action 'saveEdits'}} class="btn sm positive inline l sp_left">Save</button>
  </div>
{{/if}}

{{#if isEditable}}
  <div class="clearfix sp">
    <button {{action 'edit'}} class="btn alt inline sm r">Edit</button>
  </div>
{{/if }}

<ol class="float-clear">
  {{#each l in myLinks}}
    <li {{bind-attr class='l.isLast:last l.isLast:sp_lg :chunky-box'}}>
      {{link-list-item model=l.link isEditing=isEditing}}
    </li>
  {{/each}}
</ol>

{{#unless isEditing}}
  <div class="float-clear">
    <div class="chunky-box last pad">
      <form novalidate>
        <div class="sp">
          {{input type='text' value=name placeholder='Name'}}
        </div>
        <div class="sp">
          {{input type='url' value=url placeholder='URL'}}
        </div>
        <div>
          <button {{bind-attr disabled=isInvalid class=':btn'}}>Submit</button>
        </div>
      </form>
    </div>
  </div>
{{/unless}}
