<div class="sp">
  box for {{ip}}
</div>

{{!--
<div>
  {{#if isEditing}}
    <button {{action 'cancelEdits'}}>Cancel</button>
    <button {{action 'saveEdits'}}>Save</button>
  {{else}}
    <button {{action 'edit'}}>Edit</button>
  {{/if}}
</div>
--}}

<div class="sp_lg">
  {{#each links}}
    {{render 'link' this}}
  {{/each}}
</div>

<form>
  <div class="sp">
    {{input type='text' class='big' value=name placeholder='Name'}}
  </div>
  <div class="sp">
    {{input type='text' value=url placeholder='URL'}}
  </div>
  <div class="sp">
    <button {{bind-attr disabled=isInvalid class=':btn'}}>Submit</button>
  </div>
</form>
