{{#if isEditing}}
  <div class="sp float-clear">
    <button {{action 'cancelEdits'}} class="btn alt small inline l">Cancel</button>
    <button {{action 'saveEdits'}} class="btn small inline positive r">Save</button>
  </div>
{{else}}
<div class="clearfix sp">
  <button {{action 'edit'}} class="btn alt inline small r">Edit</button>
</div>
{{/if}}

<ol class="float-clear">
  {{#each links}}
    <li class="chunky-box">
      {{render 'link' this}}
    </li>
  {{/each}}
</ol>

{{#unless isEditing}}
  <div class="float-clear">
    <div class="chunky-box last pad">
      <form novalidate>
        <div class="sp">
          {{input type='text' value=name placeholder='Name'}}
        </div>
        <div class="sp">
          {{input type='url' value=url placeholder='URL'}}
        </div>
        <div>
          <button {{bind-attr disabled=isInvalid class=':btn'}}>Submit</button>
        </div>
      </form>
    </div>
  </div>
{{/unless}}
