{{#if isEditing}}
  <div>
    <form>
      {{input value=name}}
      {{input value=url}}

      <button {{action 'delete'}}>
        Delete
      </button>
    </form>
  </div>
{{else}}
  <div>
    <a {{bind-attr href=absoluteUrl}}>{{ name }}</a>
  </div>
{{/if}}
