<p>links Template</p>
{{#each}}
<div>
  <a {{bind-attr href='absoluteUrl'}}>{{ name }}</a>
</div>
{{/each}}
<form>
  {{input value=id}}
  {{input value=name}}
  {{input value=url}}
  <button>create</button>
</form>
